<template name="diseases">
    {{invokeBeforeLoadDiseases}}
    <div class="container">
        <h3>All diseases</h3>
        <p><pre>{{tpl_info}}</pre>
        you can delete this message from the template and/or the helper</p>
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th colspan="50">
                                <form class="form-inline">
                                        <div class="form-group">
                                            <label for="input_title">Search: </label>
                                            <input type="text" class="form-control"
                                                   placeholder="filter text"
                                                   id="filter_field">
                                        </div>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th id=header-createdAt>createdAt</th>
                            <th id=header-name>name</th>
                            <th id=header-description>description</th>
                            <th colspan="4">
                                <form class="form-inline">
                                        <div class="form-group">
                                        <input type="checkbox" class="space-left space-right filled-in"
                                            id="checkAll">
                                            <label for="checkAll"></label>
                                            <a class="btn btn-danger btn-xs space-right"
                                                href="" id="deleteAll">Delete selected</a>
                                        </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each diseases}}
                        <tr id="{{_id}}">
                            <td>{{createdAt}}</td>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td>
                            <input type="checkbox"
                                class="space-left space-right checkthis filled-in" id="row_{{_id}}">
                                <label for="row_{{_id}}"></label>
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs" href="{{pathFor 'show_diseases'}}"  id="show">Show </a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{pathFor 'edit_diseases'}}"  id="edit"> Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="" id="delete">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
               </table>
            </div>
            <a class="btn btn-success btn-xs" href="{{pathFor 'new_diseases'}}">New disease</a>
            <button class="btn btn-primary" id="loadMore">Load More</button>
            <button class="btn btn-primary" id="loadReset">Reset</button>
        </div>
</template>
