<template name="show_diseases">
    <div class="container">
        <h3>Viewing a/an disease</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>createdAt :</strong><br>
                    {{createdAt}}</p>
                    <p><strong>name :</strong><br>
                    {{name}}</p>
                    <p><strong>description :</strong><br>
                    {{description}}</p>
            </div>
        </div>
        <a class="btn btn-default btn-xs" href="{{pathFor 'diseases'}}">Back</a>
    </div>
</template>
