<template name="settings">
    <div class="container">
        <h3>{{tr "Settings"}}</h3>
        <br>
        <form>
            <div class="form-group">
                <label for="input_language">{{tr "Language"}}</label>
                <select class="form-control" id="input_language">
                    <option value="{{language}}" selected>{{codeToLanguage language}}</option>
                    <option value="en_US">{{codeToLanguage "en_US"}}</option>
                    <option value="en_GB">{{codeToLanguage "en_GB"}}</option>
                    <option value="tr_TR">{{codeToLanguage "tr_TR"}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="input_unitOfLength">{{tr "Unit of Length"}}</label>
                <select class="form-control" id="input_unitOfLength">
                    <option value="{{unitOfLength}}" selected>{{unitOfLength}}</option>
                    <option value="px">px (pixel)</option>
                    <option value="m">m (meter 10^0)</option>
                    <option value="dm">dm (deci 10^-1)</option>
                    <option value="cm">cm (centi 10^-2)</option>
                    <option value="mm">mm (mili 10^-3)</option>
                    <option value="μm">μm (micro 10^-6)</option>
                    <option value="nm">nm (nano 10^-9)</option>
                    <option value="pm">pm (pico 10^-12)</option>
                    <option value="fm">fm (femto 10^-15)</option>
                    <option value="am">am (atto 10^-18)</option>
                    <option value="zm">zm (zepto 10^-21)</option>
                    <option value="ym">ym (yocto 10^-24)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="input_dermatoscopeFactor">{{tr "Dermatoscope Factor"}}</label> <i style="color: #6e6e6e;">{{tr "Calculate area factor"}}</i>
                <input type="text" class="form-control"
                    placeholder="{{tr "Dermatoscope Factor"}}"
                    id="input_dermatoscopeFactor"
                    value="{{dermatoscopeFactor}}">
            </div>
        </form>
        <br><br><br><br>
        <button type="button" class="btn btn-primary btn-xs" id="save">{{tr "Save"}}</button>
        <button type="button" class="btn btn-primary btn-xs" style="float: right;" id="exit">{{tr "Exit from Dermatron"}}</button>
        <br><br><br><br>
        <h4>{{tr "About"}}</h4>
        <br>
        <label>{{{tr "softwareDescription"}}}</label>
        <br><br>
        <label><b>{{tr "version"}}:</b> v16.12 (Helium)</label>
        <br><br>
        <label><b>{{tr "author"}}:</b> Mehmet Mert Yıldıran</label>
        <br><br>
        <label><b>{{tr "settingsContact"}}:</b> <a href="mailto:mert.yildiran@bil.omu.edu.tr">mert.yildiran@bil.omu.edu.tr</a></label>
        <br><br>
        <label><b>{{tr "Source Control"}}:</b> <a href="https://github.com/mertyildiran/Dermatron">https://github.com/mertyildiran/Dermatron</a></label>
        <br><br>
        <label>{{{tr "Using this software with"}}}</label>
        <br><br>
        <img src="./dermatoscope-big.png" height="600px" style="margin-left: 0px;"/>
        <br><br>
        <label><b>{{tr "Features"}}:</b></label>
        <ul class="collection">
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Manage visit & patient records"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Search drugs on your local drug search engine"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Schedule visits and see on big calendar"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "140 different lesion types"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "43 different symptom types"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "28 different pathophysiology types"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "59 different anatomical locations"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "727 different diagnosis options"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "All of these features available in English(United States), English(Great Britain) and Turkish languages"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Easy-to-use interactive anatomical map on base human mesh (male and female available)"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Image capturing from USB Dermatoscope"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Web based diagnosis suggestions"}}</label></li>
          <li class="collection-item" style="background-color: transparent; border-bottom: 1px solid #ffffff;"><label>{{tr "Artificial intelligence based diagnosis suggestions (AI trained for 12 days)"}}</label></li>
        </ul>
        <br><br>
        <label><b>{{tr "License"}}:</b> <a href="https://github.com/mertyildiran/Dermatron/blob/master/LICENSE.txt">MIT</a></label>

    </div>
</template>
