<template name="patients">
    {{invokeBeforeLoadPatients}}
    <div class="container">
        <h3>{{tr "All patients"}}</h3>
        <p><pre>{{tpl_info}}</pre>
        {{{tr "patientsMoreInfo"}}}</p>
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th colspan="50">
                                <form class="form-inline">
                                        <div class="form-group">
                                            <label for="input_title">{{tr "Search"}}: </label>
                                            <input type="text" class="form-control"
                                                   placeholder="{{tr 'filterText'}}"
                                                   id="filter_field">
                                        </div>
                                </form>
                            </th>
                        </tr>
                        <tr>
                            <th id=header-createdAt>{{tr "createdAt"}}</th>
                            <th id=header-name>{{tr "name"}}</th>
                            <th id=header-surname>{{tr "surname"}}</th>
                            <th id=header-gender>{{tr "gender"}}</th>
                            <th id=header-birthDate>{{tr "birthDate"}}</th>
                            <th id=header-nationalId>{{tr "nationalId"}}</th>
                            <th id=header-socialSecurityType>{{tr "socialSecurityType"}}</th>
                            <th id=header-socialSecurityNumber>{{tr "socialSecurityNumber"}}</th>
                            <th id=header-isPatientDisabled>{{tr "isPatientDisabled"}}</th>
                            <th id=header-bloodType>{{tr "bloodType"}}</th>
                            <th id=header-email>{{tr "email"}}</th>
                            <th id=header-phone>{{tr "phone"}}</th>
                            <th id=header-address>{{tr "address"}}</th>
                            <th id=header-totalVisits>{{tr "totalVisits"}}</th>
                            <th colspan="4" style="min-width: 400px;">
                                <form class="form-inline">
                                        <div class="form-group">
                                        <input type="checkbox" class="space-left space-right filled-in"
                                            id="checkAll">
                                            <label for="checkAll"></label>
                                            <a class="btn btn-danger btn-xs space-right" href="" id="deleteAll" style="margin-left: 50px;">{{tr "deleteSelected"}}</a>
                                        </div>
                                </form>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each patients}}
                        <tr id="{{_id}}">
                            <td>{{createdAt}}</td>
                            <td>{{name}}</td>
                            <td>{{surname}}</td>
                            <td>{{gender}}</td>
                            <td>{{birthDate}}</td>
                            <td>{{nationalId}}</td>
                            <td>{{socialSecurityType}}</td>
                            <td>{{socialSecurityNumber}}</td>
                            <td>{{isPatientDisabled}}</td>
                            <td>{{bloodType}}</td>
                            <td>{{email}}</td>
                            <td>{{phone}}</td>
                            <td>{{address}}</td>
                            <td>{{totalVisits _id}}</td>
                            <td>
                            <input type="checkbox"
                                class="space-left space-right checkthis filled-in" id="row_{{_id}}">
                                <label for="row_{{_id}}"></label>
                            </td>
                            <td>
                                <a class="btn btn-default btn-xs" href="{{pathFor 'show_patients'}}"  id="show">{{tr "show"}}</a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="{{pathFor 'edit_patients'}}"  id="edit">{{tr "edit"}}</a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-xs" href="" id="delete">{{tr "delete"}}</a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
               </table>
            </div>
            <a class="btn btn-success btn-xs" href="{{pathFor 'new_patients'}}">{{tr "newPatient"}}</a>
            <button class="btn btn-primary" id="loadMore">{{tr "loadMore"}}</button>
            <button class="btn btn-primary" id="loadReset">{{tr "reset"}}</button>
        </div>
</template>
