<template name="show_patients">
    <div class="container">
        <h3>{{tr "Viewing the patient"}}</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>{{tr "createdAt"}}</strong><br>
                    {{createdAt}}</p>
                    <p><strong>{{tr "name"}}</strong><br>
                    {{name}}</p>
                    <p><strong>{{tr "surname"}}</strong><br>
                    {{surname}}</p>
                    <p><strong>{{tr "gender"}}</strong><br>
                    {{gender}}</p>
                    <p><strong>{{tr "birthDate"}}</strong><br>
                    {{birthDate}}</p>
                    <p><strong>{{tr "nationalId"}}</strong><br>
                    {{nationalId}}</p>
                    <p><strong>{{tr "socialSecurityType"}}</strong><br>
                    {{socialSecurityType}}</p>
                    <p><strong>{{tr "socialSecurityNumber"}}</strong><br>
                    {{socialSecurityNumber}}</p>
                    <p><strong>{{tr "isPatientDisabled"}}</strong><br>
                    {{isPatientDisabled}}</p>
                    <p><strong>{{tr "bloodType"}}</strong><br>
                    {{bloodType}}</p>
                    <p><strong>{{tr "email"}}</strong><br>
                    {{email}}</p>
                    <p><strong>{{tr "phone"}}</strong><br>
                    {{phone}}</p>
                    <p><strong>{{tr "address"}}</strong><br>
                    <pre>{{address}}</pre></p>
                    <p><strong>{{tr "dermatologicHistory"}}</strong><br>
                    <pre>{{dermatologicHistory}}</pre></p>
                    <p><strong>{{tr "totalVisits"}}</strong><br>
                    {{totalVisits _id}}</p>
            </div>
        </div>
        <a class="btn btn-success btn-xs" id="scheduleNewVisit" href="{{pathFor 'new_visits'}}">{{tr "Schedule a new visit"}}</a>
        <a class="btn btn-default btn-xs" href="{{pathFor 'patients'}}">{{tr "Back"}}</a>
    </div>
</template>
