body {
  background: rgba(212,212,212,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(212,212,212,1) 0%, rgba(237,237,237,1) 0%, rgba(204,204,204,1) 43%, rgba(194,194,194,1) 60%, rgba(194,194,194,1) 75%, rgba(194,194,194,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,212,212,1)), color-stop(0%, rgba(237,237,237,1)), color-stop(43%, rgba(204,204,204,1)), color-stop(60%, rgba(194,194,194,1)), color-stop(75%, rgba(194,194,194,1)), color-stop(100%, rgba(194,194,194,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(212,212,212,1) 0%, rgba(237,237,237,1) 0%, rgba(204,204,204,1) 43%, rgba(194,194,194,1) 60%, rgba(194,194,194,1) 75%, rgba(194,194,194,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(212,212,212,1) 0%, rgba(237,237,237,1) 0%, rgba(204,204,204,1) 43%, rgba(194,194,194,1) 60%, rgba(194,194,194,1) 75%, rgba(194,194,194,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(212,212,212,1) 0%, rgba(237,237,237,1) 0%, rgba(204,204,204,1) 43%, rgba(194,194,194,1) 60%, rgba(194,194,194,1) 75%, rgba(194,194,194,1) 100%);
  background: radial-gradient(ellipse at center, rgba(212,212,212,1) 0%, rgba(237,237,237,1) 0%, rgba(204,204,204,1) 43%, rgba(194,194,194,1) 60%, rgba(194,194,194,1) 75%, rgba(194,194,194,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#c2c2c2', GradientType=1 );
}

a.brand-logo {
    font-size: 2.5rem;
    margin-left: 10%;
    font-weight: 500;
}

ul#nav {
    margin-right: 10%;
}

ul#nav > li > a {
    font-size: 1.5rem;
    padding: 0 50px;
}

nav {
    height: 80px;
    line-height: 80px;
    position: fixed !important;
    top: 0px;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.main-container {
    margin-top: 80px;
    height: 100%;
}

.container {
    margin: 0;
    margin-left: 5%;
    width: 80%;
    max-width: 100%;
    margin-bottom: 140px;
}

iframe {
    -webkit-transform: scale(1.75);
}

.dhx_scale_bar, .dhx_cal_today_button {
    font-size: 18px;
}

span.dhx_scale_h {
    font-size: 26px;
}

span.dhx_scale_m {
    font-size: 13px;
}
