<template name="form_appointments">
    <form>
        <div class="form-group">
            <label for="input_patientId">patientId</label>
            <input type="text" class="form-control"
                placeholder="patientId input"
                id="input_patientId"
                value="{{patientId}}">
        </div>
        <div class="form-group">
            <label for="input_patientName">patientName</label>
            <select class="form-control" id="input_patientName">
              <option value="{{patientName}}" selected>{{patientName}}</option>
              {{#each patients}}
                  <option value="{{_id}}">{{name}} {{surname}}</option>
              {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="input_appointmentReason">appointmentReason</label>
            <textarea class="form-control" rows="3"
                id="input_appointmentReason">{{appointmentReason}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_symptoms">symptoms</label>
            <textarea class="form-control" rows="3"
                id="input_symptoms">{{symptoms}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_diagnosis">diagnosis</label>
            <textarea class="form-control" rows="3"
                id="input_diagnosis">{{diagnosis}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_treatment">treatment</label>
            <textarea class="form-control" rows="3"
                id="input_treatment">{{treatment}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_status">status</label>
            <select class="form-control" id="input_status">
                <option selected="{{selected_status}}">
                    {{status}}
                </option>
            </select>
        </div>
    </form>
    {{invokeAfterLoadFormAppointments}}
</template>
