<template name="show_appointments">
    <div class="container">
        <h3>Viewing a/an appointment</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>createdAt :</strong><br>
                    {{createdAt}}</p>
                    <p><strong>patientId :</strong><br>
                    {{patientId}}</p>
                    <p><strong>appointmentDate :</strong><br>
                    {{appointmentDate}}</p>
                    <p><strong>appointmentTime :</strong><br>
                    {{appointmentTime}}</p>
                    <p><strong>status :</strong><br>
                    {{status}}</p>
            </div>
        </div>
        <a class="btn btn-default btn-xs" href="{{pathFor 'appointments'}}">Back</a>
    </div>
</template>
