<template name="form_visits">
    <form>
        <div class="form-group">
            <label for="input_patientId">patientName</label>
            <select class="form-control" id="input_patientId">
              <option value="{{patientId patientId}}" selected>{{patientLookup patientId}}</option>
              {{#each patients}}
                  <option value="{{_id}}">{{name}} {{surname}}</option>
              {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="input_visitDate">visitDate</label>
            <input type="date" class="form-control datepicker"
                placeholder="Date"
                id="input_visitDate"
                value="{{visitDate}}">
        </div>
        <div class="form-group">
            <label for="input_visitTime">visitTime</label>
            <input type="time" class="form-control timepicker"
                placeholder="Time"
                id="input_visitTime"
                value="{{visitTime}}">
        </div>
        <div class="form-group">
            <label for="input_reasonToVisit">reasonToVisit</label>
            <textarea class="form-control" rows="3"
                id="input_reasonToVisit">{{reasonToVisit}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_symptoms">symptoms</label>
            <textarea class="form-control" rows="3"
                id="input_symptoms">{{symptoms}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_diagnosis">diagnosis</label>
            <textarea class="form-control" rows="3"
                id="input_diagnosis">{{diagnosis}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_treatment">treatment</label>
            <textarea class="form-control" rows="3"
                id="input_treatment">{{treatment}}</textarea>
        </div>
        <div class="form-group">
            <label for="input_status">status</label>
            <select class="form-control" id="input_status">
                <option value="{{status}}" selected>{{status}}</option>
                <option value="Upcoming">Upcoming</option>
                <option value="Right now">Right now</option>
                <option value="Past">Past</option>
            </select>
        </div>
    </form>
</template>
