<template name="meshmap_visits">

    <map name="male-full-body">
        <area class="level1" target="" alt="Head" title="Head" id="head" nohref coords="268,59,34" shape="circle">
        <area class="level1" target="" alt="Trunk" title="Trunk" id="trunk" nohref coords="269,163,72" shape="circle">
        <area class="level1" target="" alt="Upper Limbs" title="Upper Limbs" id="upper-limbs" nohref coords="151,176,81" shape="circle">
        <area class="level1" target="" alt="Upper Limbs" title="Upper Limbs" id="upper-limbs" nohref coords="389,177,82" shape="circle">
        <area class="level1" target="" alt="Anogenital Region" title="Anogenital Region" id="anogenital-region" nohref coords="268,266,59" shape="circle">
        <area class="level1" target="" alt="Lower Limbs" title="Lower Limbs" id="lower-limbs" nohref coords="267,402,117" shape="circle">
    </map>

    <map name="male-full-body-back">
        <area class="level1-back" target="" alt="Upper Limbs > Axillae" title="Upper Limbs > Axillae" nohref coords="214,143,17" shape="circle">
        <area class="level1-back" target="" alt="Upper Limbs > Axillae" title="Upper Limbs > Axillae" nohref coords="327,147,18" shape="circle">
        <area class="level1-back" target="" alt="Trunk > Back" title="Trunk > Back" nohref coords="270,148,66" shape="circle">
        <area class="level1-back" target="" alt="Annogenital Region > Anus" title="Annogenital Region > Anus" nohref coords="269,263,14" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Buttock" title="Lower Limbs > Buttock" nohref coords="246,249,33" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Buttock" title="Lower Limbs > Buttock" nohref coords="294,249,34" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Popliteal" title="Lower Limbs > Popliteal" nohref coords="231,359,23" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Popliteal" title="Lower Limbs > Popliteal" nohref coords="310,359,21" shape="circle">
        <area class="level1-back" target="" alt="Head > Nape" title="Head > Nape" nohref coords="268,70,18" shape="circle">
    </map>

    <map name="male-head">
        <area class="level2" target="" alt="Neck" title="Neck" nohref coords="202,306,188,330,201,368,219,408,254,428,292,430,322,424,325,410,275,385,230,354" shape="poly">
        <area class="level2" target="" alt="Mouth" title="Mouth" nohref coords="371,342,26" shape="circle">
        <area class="level2" target="" alt="Labia" title="Labia" nohref coords="330,348,344,337,316,329,300,343,324,369,349,363" shape="poly">
        <area class="level2" target="" alt="Chin" title="Chin" nohref coords="372,391,22" shape="circle">
        <area class="level2" target="" alt="Nose" title="Nose" nohref coords="380,282,30" shape="circle">
        <area class="level2" target="" alt="Ear" title="Ear" nohref coords="177,251,40" shape="circle">
        <area class="level2" target="" alt="Retroauricular Folds" title="Retroauricular Folds" nohref coords="159,189,164,208,176,206,186,219,194,234,199,219,190,200,176,187" shape="poly">
        <area class="level2" target="" alt="Eyelid" title="Eyelid" nohref coords="312,245,17" shape="circle">
        <area class="level2" target="" alt="Eyebrow" title="Eyebrow" nohref coords="354,234,360,221,341,218,320,217,287,221,271,235,271,244,293,235,314,229,338,232" shape="poly">
        <area class="level2" target="" alt="Orbit" title="Orbit" nohref coords="282,248,310,259,331,248,348,250,330,270,284,268,252,252" shape="poly">
        <area class="level2" target="" alt="Cheek" title="Cheek" nohref coords="286,292,39" shape="circle">
        <area class="level2" target="" alt="Beard" title="Beard" nohref coords="292,361,36" shape="circle">
        <area class="level2" target="" alt="Forehead" title="Forehead" nohref coords="357,154,44" shape="circle">
        <area class="level2" target="" alt="Mandible" title="Mandible" nohref coords="230,330,31" shape="circle">
        <area class="level2" target="" alt="Temple" title="Temple" nohref coords="241,214,29" shape="circle">
        <area class="level2" target="" alt="Hairline" title="Hairline" nohref coords="258,124,258,143,324,141,377,133,404,123,402,112,376,118,322,123" shape="poly">
        <area class="level2" target="" alt="Scalp/Hair" title="Scalp/Hair" nohref coords="380,78,358,57,331,41,296,34,253,35,206,55,169,89,156,119,154,153,238,189,237,141,258,118,303,120,363,116,396,106" shape="poly">
    </map>

    <map name="male-trunk">
        <area class="level2" target="" alt="Umbilicus" title="Umbilicus" nohref coords="278,414,44" shape="circle">
        <area class="level2" target="" alt="Abdomen" title="Abdomen" nohref coords="272,364,135" shape="circle">
        <area class="level2" target="" alt="Mammary Areola" title="Mammary Areola" nohref coords="159,176,18" shape="circle">
        <area class="level2" target="" alt="Mammary Areola" title="Mammary Areola" nohref coords="369,178,19" shape="circle">
        <area class="level2" target="" alt="Decollete" title="Decollete" nohref coords="136,44,162,52,200,57,234,72,269,104,302,78,334,62,368,52" shape="poly">
        <area class="level2" target="" alt="Submammary Folds" title="Submammary Folds" nohref coords="165,215,190,207,216,202,242,195,276,179,304,191,336,202,371,211" shape="poly">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="79,79,56" shape="circle">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="434,81,50" shape="circle">
        <area class="level2" target="" alt="Chest" title="Chest" nohref coords="266,151,157" shape="circle">
    </map>

    <map name="male-upper-limbs">
        <area class="level2" target="" alt="Elbow Flexures" title="Elbow Flexures" nohref coords="250,221,242,257,212,293,182,317,193,330,222,308,253,277,262,242" shape="poly">
        <area class="level2" target="" alt="Elbow" title="Elbow" nohref coords="213,313,37" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="468,489,14" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="492,474,13" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="512,457,13" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="527,513,12" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="538,493,11" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="505,528,10" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="476,529,11" shape="circle">
        <area class="level2" target="" alt="Finger" title="Finger" nohref coords="508,502,42" shape="circle">
        <area class="level2" target="" alt="Hand" title="Hand" nohref coords="482,466,65" shape="circle">
        <area class="level2" target="" alt="Wrist" title="Wrist" nohref coords="447,397,438,412,410,447,401,437,420,407,434,389" shape="poly">
        <area class="level2" target="" alt="Lower Arm" title="Lower Arm" nohref coords="349,366,140" shape="circle">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="81,63,119" shape="circle">
        <area class="level2" target="" alt="Upper Arm" title="Upper Arm" nohref coords="174,204,127" shape="circle">
    </map>

    <map name="male-anogenital-region">
        <area class="level2" target="" alt="Penis" title="Penis" nohref coords="256,269,286,364" shape="rect">
        <area class="level2" target="" alt="Glans Penis" title="Glans Penis" nohref coords="272,368,22" shape="circle">
        <area class="level2" target="" alt="Scrotum" title="Scrotum" nohref coords="246,315,29" shape="circle">
        <area class="level2" target="" alt="Scrotum" title="Scrotum" nohref coords="299,314,28" shape="circle">
        <area class="level2" target="" alt="Perineum Folds" title="Perineum Folds" nohref coords="271,280,53" shape="circle">
    </map>

    <map name="male-lower-limbs">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="259,516,274,517,287,510,286,525,266,526" shape="poly">
        <area class="level2" target="" alt="Toe" title="Toe" nohref coords="253,518,273,516,289,506,285,498,245,510" shape="poly">
        <area class="level2" target="" alt="Sole" title="Sole" nohref coords="375,395,402,413,424,431,443,442,451,451,428,451,406,428,380,415" shape="poly">
        <area class="level2" target="" alt="Interdigital" title="Interdigital" nohref coords="454,438,12" shape="circle">
        <area class="level2" target="" alt="Ankle" title="Ankle" nohref coords="255,425,237,421,234,434,252,440,267,439,266,423" shape="poly">
        <area class="level2" target="" alt="Ankle" title="Ankle" nohref coords="376,359,393,358,410,356,411,370,394,376,376,373" shape="poly">
        <area class="level2" target="" alt="Foot" title="Foot" nohref coords="256,469,67" shape="circle">
        <area class="level2" target="" alt="Inguino-Crural" title="Inguino-Crural" nohref coords="372,75,358,76,331,5,353,5,372,75,382,78,448,7,422,5" shape="poly">
        <area class="level2" target="" alt="Knee" title="Knee" nohref coords="298,214,53" shape="circle">
        <area class="level2" target="" alt="Leg" title="Leg" nohref coords="256,323,109" shape="circle">
        <area class="level2" target="" alt="Thigh" title="Thigh" nohref coords="295,114,113" shape="circle">
    </map>

    <map name="female-full-body">
        <area class="level1" target="" alt="Head" title="Head" id="head" nohref coords="269,52,36" shape="circle">
        <area class="level1" target="" alt="Trunk" title="Trunk" id="trunk" nohref coords="269,162,69" shape="circle">
        <area class="level1" target="" alt="Upper Limbs" title="Upper Limbs" id="upper-limbs" nohref coords="151,168,82" shape="circle">
        <area class="level1" target="" alt="Upper Limbs" title="Upper Limbs" id="upper-limbs" nohref coords="386,171,79" shape="circle">
        <area class="level1" target="" alt="Anogenital Region" title="Anogenital Region" id="anogenital-region" nohref coords="270,258,56" shape="circle">
        <area class="level1" target="" alt="Lower Limbs" title="Lower Limbs" id="lower-limbs" nohref coords="270,399,140" shape="circle">
    </map>

    <map name="female-full-body-back">
        <area class="level1-back" target="" alt="Upper Limbs > Axillae" title="Upper Limbs > Axillae" nohref coords="224,130,16" shape="circle">
        <area class="level1-back" target="" alt="Upper Limbs > Axillae" title="Upper Limbs > Axillae" nohref coords="318,132,15" shape="circle">
        <area class="level1-back" target="" alt="Trunk > Back" title="Trunk > Back" nohref coords="271,141,60" shape="circle">
        <area class="level1-back" target="" alt="Annogenital Region > Anus" title="Annogenital Region > Anus" nohref coords="271,260,15" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Buttock" title="Lower Limbs > Buttock" nohref coords="299,242,37" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Buttock" title="Lower Limbs > Buttock" nohref coords="246,242,38" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Popliteal" title="Lower Limbs > Popliteal" nohref coords="230,360,25" shape="circle">
        <area class="level1-back" target="" alt="Lower Limbs > Popliteal" title="Lower Limbs > Popliteal" nohref coords="312,360,23" shape="circle">
        <area class="level1-back" target="" alt="Head > Nape" title="Head > Nape" nohref coords="269,66,20" shape="circle">
    </map>

    <map name="female-head">
        <area class="level2" target="" alt="Neck" title="Neck" nohref coords="204,314,220,339,243,356,274,375,298,388,320,396,308,410,285,418,246,408,226,396,202,373,207,349" shape="poly">
        <area class="level2" target="" alt="Mouth" title="Mouth" nohref coords="370,344,28" shape="circle">
        <area class="level2" target="" alt="Labia" title="Labia" nohref coords="328,349,340,333,314,329,301,347,323,367,340,363" shape="poly">
        <area class="level2" target="" alt="Chin" title="Chin" nohref coords="362,378,25" shape="circle">
        <area class="level2" target="" alt="Nose" title="Nose" nohref coords="374,285,30" shape="circle">
        <area class="level2" target="" alt="Ear" title="Ear" nohref coords="175,269,41" shape="circle">
        <area class="level2" target="" alt="Retroauricular Folds" title="Retroauricular Folds" nohref coords="155,225,178,226,196,230,190,209,166,201,148,205" shape="poly">
        <area class="level2" target="" alt="Eyelid" title="Eyelid" nohref coords="318,251,14" shape="circle">
        <area class="level2" target="" alt="Eyebrow" title="Eyebrow" nohref coords="359,231,356,219,334,220,314,223,296,230,280,235,276,250,299,239,319,232,335,229" shape="poly">
        <area class="level2" target="" alt="Orbit" title="Orbit" nohref coords="283,256,304,268,342,259,333,275,311,281,283,266" shape="poly">
        <area class="level2" target="" alt="Cheek" title="Cheek" nohref coords="301,299,36" shape="circle">
        <area class="level2" target="" alt="Beard" title="Beard" nohref coords="285,357,35" shape="circle">
        <area class="level2" target="" alt="Forehead" title="Forehead" nohref coords="362,168,40" shape="circle">
        <area class="level2" target="" alt="Mandible" title="Mandible" nohref coords="232,321,33" shape="circle">
        <area class="level2" target="" alt="Temple" title="Temple" nohref coords="250,229,29" shape="circle">
        <area class="level2" target="" alt="Hairline" title="Hairline" nohref coords="394,122,366,117,334,120,305,138,273,158,273,138,293,121,320,108,340,102,368,105,386,109" shape="poly">
        <area class="level2" target="" alt="Scalp/Hair" title="Scalp/Hair" nohref coords="148,185,176,186,205,189,236,192,237,157,250,139,271,122,290,106,307,97,327,91,348,90,366,94,347,78,330,71,311,63,286,59,268,56,242,62,216,69,192,81,172,99,160,118,150,139,145,155" shape="poly">
    </map>

</template>
