<template name="meshmap_visits">

    <map name="male-full-body">
        <area class="level1" target="" alt="head" title="Head" id="head" nohref coords="268,59,34" shape="circle">
        <area class="level1" target="" alt="trunk" title="Trunk" id="trunk" nohref coords="269,163,72" shape="circle">
        <area class="level1" target="" alt="upper-limbs" title="Upper Limbs" id="upper-limbs" nohref coords="151,176,81" shape="circle">
        <area class="level1" target="" alt="upper-limbs" title="Upper Limbs" id="upper-limbs" nohref coords="389,177,82" shape="circle">
        <area class="level1" target="" alt="anogenital-region" title="Anogenital Region" id="anogenital-region" nohref coords="268,266,59" shape="circle">
        <area class="level1" target="" alt="lower-limbs" title="Lower Limbs" id="lower-limbs" nohref coords="267,402,117" shape="circle">
    </map>

    <map name="male-head">
        <area class="level2" target="" alt="Neck" title="Neck" nohref coords="202,306,188,330,201,368,219,408,254,428,292,430,322,424,325,410,275,385,230,354" shape="poly">
        <area class="level2" target="" alt="Mouth" title="Mouth" nohref coords="371,342,26" shape="circle">
        <area class="level2" target="" alt="Labia" title="Labia" nohref coords="330,348,344,337,316,329,300,343,324,369,349,363" shape="poly">
        <area class="level2" target="" alt="Chin" title="Chin" nohref coords="372,391,22" shape="circle">
        <area class="level2" target="" alt="Nose" title="Nose" nohref coords="380,282,30" shape="circle">
        <area class="level2" target="" alt="Ear" title="Ear" nohref coords="177,251,40" shape="circle">
        <area class="level2" target="" alt="Retroauricular Folds" title="Retroauricular Folds" nohref coords="159,189,164,208,176,206,186,219,194,234,199,219,190,200,176,187" shape="poly">
        <area class="level2" target="" alt="Eyelid" title="Eyelid" nohref coords="312,245,17" shape="circle">
        <area class="level2" target="" alt="Eyebrows" title="Eyebrows" nohref coords="354,234,360,221,341,218,320,217,287,221,271,235,271,244,293,235,314,229,338,232" shape="poly">
        <area class="level2" target="" alt="Orbits" title="Orbits" nohref coords="282,248,310,259,331,248,348,250,330,270,284,268,252,252" shape="poly">
        <area class="level2" target="" alt="Cheek" title="Cheek" nohref coords="286,292,39" shape="circle">
        <area class="level2" target="" alt="Beard" title="Beard" nohref coords="292,361,36" shape="circle">
        <area class="level2" target="" alt="Forehead" title="Forehead" nohref coords="357,154,44" shape="circle">
        <area class="level2" target="" alt="Mandible" title="Mandible" nohref coords="230,330,31" shape="circle">
        <area class="level2" target="" alt="Temple" title="Temple" nohref coords="241,214,29" shape="circle">
        <area class="level2" target="" alt="Hairline" title="Hairline" nohref coords="258,124,258,143,324,141,377,133,404,123,402,112,376,118,322,123" shape="poly">
        <area class="level2" target="" alt="Scalp/Hair" title="Scalp/Hair" nohref coords="380,78,358,57,331,41,296,34,253,35,206,55,169,89,156,119,154,153,238,189,237,141,258,118,303,120,363,116,396,106" shape="poly">
    </map>

    <map name="male-trunk">
        <area class="level2" target="" alt="Umbilicus" title="Umbilicus" nohref coords="278,414,44" shape="circle">
        <area class="level2" target="" alt="Abdomen" title="Abdomen" nohref coords="272,364,135" shape="circle">
        <area class="level2" target="" alt="Mammary Areola" title="Mammary Areola" nohref coords="159,176,18" shape="circle">
        <area class="level2" target="" alt="Mammary Areola" title="Mammary Areola" nohref coords="369,178,19" shape="circle">
        <area class="level2" target="" alt="Décolleté" title="Décolleté" nohref coords="136,44,162,52,200,57,234,72,269,104,302,78,334,62,368,52" shape="poly">
        <area class="level2" target="" alt="Submammary Folds" title="Submammary Folds" nohref coords="165,215,190,207,216,202,242,195,276,179,304,191,336,202,371,211" shape="poly">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="79,79,56" shape="circle">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="434,81,50" shape="circle">
        <area class="level2" target="" alt="Chest" title="Chest" nohref coords="266,151,157" shape="circle">
    </map>

    <map name="male-upper-limbs">
        <area class="level2" target="" alt="Elbow" title="Elbow" nohref coords="213,313,37" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="468,489,14" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="492,474,13" shape="circle">
        <area class="level2" target="" alt="Inderdigital Folds" title="Inderdigital Folds" nohref coords="512,457,13" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="527,513,12" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="538,493,11" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="505,528,10" shape="circle">
        <area class="level2" target="" alt="Nail" title="Nail" nohref coords="476,529,11" shape="circle">
        <area class="level2" target="" alt="Finger" title="Finger" nohref coords="508,502,42" shape="circle">
        <area class="level2" target="" alt="Hand" title="Hand" nohref coords="482,466,65" shape="circle">
        <area class="level2" target="" alt="Wrist" title="Wrist" nohref coords="447,397,438,412,410,447,401,437,420,407,434,389" shape="poly">
        <area class="level2" target="" alt="Lower Arm" title="Lower Arm" nohref coords="349,366,140" shape="circle">
        <area class="level2" target="" alt="Shoulder" title="Shoulder" nohref coords="81,63,119" shape="circle">
        <area class="level2" target="" alt="Upper Arm" title="Upper Arm" nohref coords="174,204,127" shape="circle">
    </map>

</template>
