<template name="meshmap_visits">

    <map name="male-full-body">
        <area class="level1" target="" alt="head" title="Head" id="head" nohref coords="268,59,34" shape="circle">
        <area class="level1" target="" alt="trunk" title="Trunk" id="trunk" nohref coords="269,163,72" shape="circle">
        <area class="level1" target="" alt="upper-limbs" title="Upper Limbs" id="upper-limbs" nohref coords="151,176,81" shape="circle">
        <area class="level1" target="" alt="upper-limbs" title="Upper Limbs" id="upper-limbs" nohref coords="389,177,82" shape="circle">
        <area class="level1" target="" alt="anogenital-region" title="Anogenital Region" id="anogenital-region" nohref coords="268,266,59" shape="circle">
        <area class="level1" target="" alt="lower-limbs" title="Lower Limbs" id="lower-limbs" nohref coords="267,402,117" shape="circle">
    </map>

    <map name="male-head">
        <area class="level2" target="" alt="Neck" title="Neck" nohref coords="222,404,49" shape="circle">
        <area class="level2" target="" alt="Mouth" title="Mouth" nohref coords="371,342,26" shape="circle">
        <area class="level2" target="" alt="Labia" title="Labia" nohref coords="330,348,344,337,316,329,300,343,324,369,349,363" shape="poly">
        <area class="level2" target="" alt="Chin" title="Chin" nohref coords="372,391,22" shape="circle">
        <area class="level2" target="" alt="Nose" title="Nose" nohref coords="380,282,30" shape="circle">
        <area class="level2" target="" alt="Ear" title="Ear" nohref coords="177,251,40" shape="circle">
        <area class="level2" target="" alt="Retroauricular Folds" title="Retroauricular Folds" nohref coords="159,189,164,208,176,206,186,219,194,234,199,219,190,200,176,187" shape="poly">
        <area class="level2" target="" alt="Eyelid" title="Eyelid" nohref coords="312,245,17" shape="circle">
        <area class="level2" target="" alt="Eyebrows" title="Eyebrows" nohref coords="281,228,354,217,355,227,271,241" shape="poly">
        <area class="level2" target="" alt="Orbits" title="Orbits" nohref coords="282,248,310,259,331,248,348,250,330,270,284,268,252,252" shape="poly">
        <area class="level2" target="" alt="Cheek" title="Cheek" nohref coords="286,292,39" shape="circle">
        <area class="level2" target="" alt="Beard" title="Beard" nohref coords="292,361,36" shape="circle">
        <area class="level2" target="" alt="Forehead" title="Forehead" nohref coords="357,154,44" shape="circle">
        <area class="level2" target="" alt="Mandible" title="Mandible" nohref coords="230,330,31" shape="circle">
        <area class="level2" target="" alt="Temple" title="Temple" nohref coords="241,214,29" shape="circle">
        <area class="level2" target="" alt="Hairline" title="Hairline" nohref coords="258,124,258,143,324,141,377,133,404,123,402,112,376,118,322,123" shape="poly">
        <area class="level2" target="" alt="Scalp/Hair" title="Scalp/Hair" nohref coords="380,78,358,57,331,41,296,34,253,35,206,55,169,89,156,119,154,153,238,189,237,141,258,118,303,120,363,116,396,106" shape="poly">
    </map>
</template>
