<template name="show_visits">
    <div class="container">
        <h3>Viewing a/an visit</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>createdAt :</strong><br>
                    {{createdAt}}</p>
                    <p><strong>patientName :</strong><br>
                    {{patientLookup patientId}}</p>
                    <p><strong>visitDate :</strong><br>
                    {{visitDate}}</p>
                    <p><strong>visitTime :</strong><br>
                    {{visitTime}}</p>
                    <p><strong>lesion :</strong><br>
                    {{lesion}}</p>
                    <p><strong>symptoms :</strong><br>
                    {{symptoms}}</p>
                    <p><strong>pathophysiology :</strong><br>
                    {{pathophysiology}}</p>
                    <p><strong>treatment :</strong><br>
                    {{treatment}}</p>
                    <p><strong>status :</strong><br>
                    {{status _id}}</p>
            </div>
        </div>
        <a class="btn btn-default btn-xs" href="{{pathFor 'visits'}}">Back</a>
    </div>
</template>
