<template name="show_visits">
    <div class="container">
        <h3>{{tr "Viewing the visit"}}</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                    <p><strong>{{tr "createdAt"}}</strong><br>
                    {{createdAt}}</p>
                    <p><strong>{{tr "patientName"}}</strong><br>
                    {{patientLookup patientId}}</p>
                    <p><strong>{{tr "visitDateTime"}}</strong><br>
                    {{visitDateTime}}</p>
                    <p><strong>{{tr "lesion"}}</strong><br>
                    {{lesion}}</p>
                    <p><strong>{{tr "symptoms"}}</strong><br>
                    {{symptoms}}</p>
                    <p><strong>{{tr "pathophysiology"}}</strong><br>
                    {{pathophysiology}}</p>
                    <p><strong>{{tr "anatomicalLocation"}}</strong><br>
                    {{anatomicalLocation}}</p>
                    <p><strong>{{tr "image"}}</strong><br>
                    <div id="capturedImage">{{{placeImage image captionImage}}}{{{previousImage patientId visitDateTime captionLastVisit}}}</div></p>
                    <p><strong>{{tr "diagnosis"}}</strong><br>
                    {{diagnosis}}</p>
                    <p><strong>{{tr "prescription"}}</strong><br>
                    <pre>{{prescription}}</pre></p>
                    <p><strong>{{tr "status"}}</strong><br>
                    {{status _id}}</p>
            </div>
        </div>
        <a class="btn btn-default btn-xs" href="{{pathFor 'visits'}}">{{tr "Back"}}</a>
    </div>
</template>
